<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE3</title>
  </head>
  <!-- VUE CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Style -->
  <link rel="stylesheet" href="assets/styles.css" />

  <body>
    <div id="app">
      <div class="cart">Carrinho: {{ carrinho }}</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- Imagem dos Produtos-->
            <img :src="image" alt="imagem camisa" />
          </div>
          <div class="product-info">
            <!-- Informações do Produto-->
            <h1>{{product_title}}</h1>
            <p v-if="EmEstoque > 10">Em Estoque</p>
            <p v-else-if="EmEstoque <= 10 && EmEstoque >= 1">Poucas Unidades</p>
            <p v-else>Fora de Estoque</p>
            <ul>
              <li v-for="detalhe in detalhes" :key="detalhe">{{detalhe}}</li>
            </ul>
            <div v-for="variante in variantes" :key="variante.id" @mouseover="mudarImagem(variante.image)">
              {{variante.cor}}
              
            </div>
            <button class="button" v-on:click="adicionarCarrinho">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { createApp, ref } = Vue;

      createApp({
        data() {
          const carrinho = ref(0);
          const adicionarCarrinho = () => {
            carrinho.value += 1;
          };
          const image = ref ("./assets/imagens/t-shirt-azul.png");
          const mudarImagem = (varianteImage) => {
            image.value = varianteImage;
          };
          return {
            product_title: ref("Camisa Azul"),
            image,
            EmEstoque: ref(12),
            detalhes:['50% Algodão', '50% Poliéster'],
            variantes:[{id:1, cor:'azul', image:"assets/imagens/t-shirt-azul.png"}, {id:2, cor:'Verde', image:"assets/imagens/t-shirt-verde.png"}, {id:3, cor:'Vermelho', image:"assets/imagens/t-shirt-vermelho.png"}, {id:4, cor:'Rosa', image:"assets/imagens/t-shirt-rosa.png"}],
            carrinho,
            adicionarCarrinho,
            mudarImagem,
          };
        },
      }).mount("#app");
    </script>
    <div></div>
  </body>
</html>
