<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE3</title>
  </head>
  <!-- VUE CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Style -->
  <link rel="stylesheet" href="assets/styles.css" />

  <body>
    <div id="app">
      <!-- <h1>{{message}}</h1>
      <input type="text" v-model="message"> -->
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- Imagem dos Produtos-->
            <img :src="image" alt="imagem blusa azul" />
          </div>
          <div class="product-info">
            <!-- Informações do Produto-->
            <h1>{{product_title}}</h1>
            <p v-if="EmEstoque > 10">Em Estoque</p>
            <p v-else-if="EmEstoque <= 10 && EmEstoque >= 1">Poucas Unidades</p>
            <p v-else>Fora de Estoque</p>
            <ul>
              <li v-for="detalhe in detalhes" :key="detalhe">{{detalhe}}</li>
            </ul>
            <div v-for="variante in variantes">
              {{variante.cor}}
              <button @click="image = './assets/imagens/t-shirt-' + variante.cor + '.png'">
                Selecionar
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { createApp, ref } = Vue;

      createApp({
        data() {
          return {
            product_title: ref("Camisa Azul"),
            image: ref("./assets/imagens/t-shirt-azul.png"),
            EmEstoque: ref(0),
            detalhes:['50% Algodão', '50% Poliéster'],
            variantes:[{id:1, cor:'azul'}, {id:2, cor:'verde'}]
          };
        },
      }).mount("#app");
    </script>
    <div></div>
  </body>
</html>
